<div class="header">
  <a href="/"><img src="" alt="" class="logo" /></a>
  <div class="menu"><a href="/ai-chat">ai 챗 봇</a></div>
  <div class="menu"><a href="/education">교육</a></div>
  <div class="menu"><a href="/board">게시판</a></div>
  <div class="menu"><a href="/graph">지표</a></div>
  <div class="menu"><a href="/chat">채팅</a></div>
</div>
